{% extends 'dashboard/base.html' %}

{% block body %}


        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">ZAP Setting</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="widget-box">
                                        <form  method="POST" action="{% url 'zapscanner:zap_setting_update' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="org" value="{{ request.GET.org }}">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Enable API</label>
                                                <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b" style="float: right;">
                                                    <label>
                                                        <input name="zap_enabled" {% if zap_enabled == "True" %} value="on" checked="checked" {% endif %} type="checkbox"><span></span>
                                                    </label>
                                                </div>
                                            </div>
                                                <div class="form-group row">
                                                    <label
                                                            class="col-sm-4 col-form-label">Zap API Key</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="apikey" value="{{ zap_apikey }}" class="form-control"
                                           placeholder="API Key"/>
                                                        <small><em>Skip ZAP API Key if not enabled</em></small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label
                                                            class="col-sm-4 col-form-label">Zap API Host</label>
                                                    <div class="col-sm-6">
                                    <input type="text" name="zappath" value="{{ zap_host }}" class="form-control"
                                           placeholder="Zap API Host"/>
                                                        <small><em>ZAP API Host address (Ex.127.0.0.1)</em></small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label
                                                            class="col-sm-4 col-form-label">Zap API Port</label>
                                                    <div class="col-sm-6">
                                    <input type="text" name="port" value="{{ zap_port }}" class="form-control"
                                           placeholder="PORT"/>
                                                        <small><em>ZAP API Port (Ex. 8080)</em></small>
                                                    </div>
                                                </div>

                                                <hr>

                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Authentication</label>
                                                    <div class="col-sm-6">
                                                        <select name="auth_method" class="form-control">
                                                            <option value="none" {% if zap_auth_method == "none" or not zap_auth_method %}selected{% endif %}>No Authentication</option>
                                                            <option value="formBased" {% if zap_auth_method == "formBased" %}selected{% endif %}>Form-Based Login</option>
                                                        </select>
                                                        <small><em>Enables ZAP to log into the target before scanning (finds auth-gated vulnerabilities)</em></small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Login URL</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="login_url" value="{{ zap_login_url }}" class="form-control"
                                                               placeholder="http://target.com/login"/>
                                                        <small><em>Full URL of the login form</em></small>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Username Field</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="username_field" value="{{ zap_username_field }}" class="form-control"
                                                               placeholder="username"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Password Field</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="password_field" value="{{ zap_password_field }}" class="form-control"
                                                               placeholder="password"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Username Value</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="username_value" value="{{ zap_username_value }}" class="form-control"
                                                               placeholder="username to log in as"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Password Value</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="password_value" value="{{ zap_password_value }}" class="form-control"
                                                               placeholder="password to log in with"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Logged-In Indicator</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" name="logged_in_regex" value="{{ zap_logged_in_regex }}" class="form-control"
                                                               placeholder="e.g. Dashboard"/>
                                                        <small><em>Regex matching a page shown only when logged in</em></small>
                                                    </div>
                                                </div>

                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                                </form>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
